<HTML>
<body class='contact'>
  <h1>Contact</h1>
    <div>
      <ul>
        <li>801-358-1729</li>
        <li>russellmax86@gmail.com</li>
      </ul>
    </div> 
</body>
<footer class = 'footer2'>
  <a href='/contact' class='contact-link'>Contact</a>
  <a href='/hobbies' class='hobbies-link'>Hobbies</a>
  <a href='/resume' class='resume-link'>Resume</a>
</footer>