<header>
<body class ='hobbies'>
  <h1 align= 'center'>HOBBIES</h1>
</header>
<p>I love:</p>
  <ul>
    <li>Hiking</li>
    <li>Camping</li>
    <li>Swimming</li>
    <li>Music</li>
    <li>Movies</li>
  </ul>
</body>
<footer class = 'footer2'>
  <div align= "center">
  <a href='/contact' class='contact-link'>Contact</a>
  <a href='/hobbies' class='hobbies-link'>Hobbies</a>
  <a href='/resume' class='resume-link'>Resume</a>
  </div>
</footer>