<HTML>
<header>
<body class = 'homepage'>
<h1>Russell Johnson</h1>
  <h2>AGE 29</h2>
  <h2>SLC, UT</h2>
  <h2>Human Male</h2>
</header>
<div>
  <img src= 'http://res.freestockphotos.biz/pictures/16/16551-illustration-of-a-hotdog-pv.png'style="width:128px;height:128px">
  <img src= "http://orig04.deviantart.net/8945/f/2015/271/e/3/dinosaur_stock_2__2_2__by_gilgamesh_art_iq-d9ad5fd.png" style = "width:300px;height:300px">
  <img src= "http://publicdomainvectors.org/photos/ryanlerch_Red_Lamborghini.png">
</div>
<footer class = 'footer'>
  <a href='/contact' class='contact-link'>Contact</a>
  <a href='/hobbies' class='hobbies-link'>Hobbies</a>
  <a href='/resume' class='resume-link'>Resume</a>
</footer>
</body>